<h1>My name is srija chithanoor</h1>
<p>Im a master student at university of memphis. my major-computer science and I am from india.
</p>

<p>My Hobbies are: </p>
<ul>
    <li>painting</li>
    <li>Cooking</li>
    <li>Playing Games</li>
</ul>


<%= image_tag 'srija.jpeg',class:'circle', style: 'max-width: 20rem;'%>


<p>
<%= link_to 'Back', root_path %>
</p>
